table {
    width: 100%;
    height: 100%;
    border: 2px;
    border-color: black;
    border-collapse: collapse;
}

.content>img {
    height: fit-content;
    width: fit-content;
}

.nav {
    display: flex;
    border: 1px;
    align-items: right;
}

.footer tr td {
    text-align: center;
}